.details-container div{
    border: 1px solid black;
    width: 300px;
    margin: 10px auto;
    padding: 3px 5px;
}
.details-container div p{
    margin: 0px;
}
.details-container div button{
    border: none;
    border-radius:5px;
    background-color:black;
    color: white;
    padding:2px 5px;
}
.details-container div button:hover{
    background-color: orangered;
    color: black;
}